{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
 {% block body %}

 {% include 'partial/_header.html.twig' %}
<h2>Bienvenue {{app.user.userIdentifier}}</h2>

<p><a href={{ path('app_accueil')}}>Retour à l'accueil</a></p>

  {% include 'partial/_footer.html.twig' %}

 {% endblock %}