{% extends 'base.html.twig' %}

 {% block body %}

 {% include 'partial/_header.html.twig' %}
 
<div class="d-flex align-items-center my-4">
  <hr class="flex-grow-1 border-white">
  <h3 class="mx-3 text-white text-center">Nos {{category.nom}}s</h3>
  <hr class="flex-grow-1 border-white">
</div>
      
  <div class="divcard">
    <div class="dish-container row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 justify-content-center">
    {% for plat in plats %}
    <div class="dish-card">
      <img class="image-test" src="{{ plat.image }}" height="350px" width="350px"  alt="{{ plat.libelle}}">
      <div class="image-caption">{{ plat.libelle}}</div>
      </div>
    {% endfor %}
    
    </div>
    </div>
     {% include 'partial/_footer.html.twig' %}

 {% endblock %}
  