{% extends 'base.html.twig' %}

 {% block body %}
 <body>
 {% include 'partial/_header.html.twig' %}
 <div class="containerhistoirelogo">
    <div class="logohistoire">
    <img src="/img/images_the_district/the_district_brand/logo_transparent.png" alt="logo the distric" class="logohistoire">
    </div>
    <div class="histoire">
    <h3>Notre Histoire</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida  ante imperdiet mi laoreet luctus. Quisque lectus risus, mattis sit amet  ex id, vulputate eleifend libero. Sed velit odio, condimentum id eros  vel, suscipit venenatis urna. Proin mollis a ligula ut auctor. Vivamus  vitae ligula metus. Phasellus pharetra tellus pulvinar neque feugiat, et egestas diam posuere. Sed tristique nisi nibh, eu posuere urna lobortis sit amet. Pellentesque dapibus, quam qu tempus quis.</p>

    </div>

 </div>
<!--<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/pasta/pasta1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/antipasti/antipasto1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/dessert/dessert1.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
     <!--<div>
    <section class="divcard">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <div class="col">
          <div class="card">
            <img src="img/antipasti/antipasto-board-with-ham-cheese-nuts-honey.jpg" class="card-img-top"
              alt="image d'un plateau de charcuterie et de fromage">
            <div class="card-body">
              <h5 class="card-title">Antipasti</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
              <a href="antipasti.php" class="btn btn-danger">Nos Antipastis</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/pizza/top-view-pepperoni-pizza-with-sausage-tomato-sauce-cheese-herb-sprinkles.jpg"
              class="card-img-top" alt="image d'une pizza aux pepperonies et au fromage">
            <div class="card-body">
              <h5 class="card-title">Pizza</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
              <a href="pizza.php" class="btn btn-danger">Nos Pizzas</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/risotto/healthy-vegetarian-risotto-plate-homemade-italian-gourmet-meal-generated-by-ai.jpg"
              class="card-img-top" alt="image d'une pizza aux pepperonies et au fromage">
            <div class="card-body hidden-hover">
              <h5 class="card-title">Risotto</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
              <a href="risotto.php" class="btn btn-danger">Nos Risottos</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/pasta/authentic-italian-pasta.jpg" class="card-img-top"
              alt="image de spaghetti aux tomates cerises et basilic">
            <div class="card-body">
              <h5 class="card-title">Pasta</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
              <a href="pasta.php" class="btn btn-danger">Nos Pastas</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/boisson/cup-creamy-cappuccino.jpg" class="card-img-top" alt="image d'un cappuccino">
            <div class="card-body">
              <h5 class="card-title">Boisson</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
              <a href="boissons.php" class="btn btn-danger">Nos Boissons</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="img/dessert/front-view-delicious-tiramisu-concept.jpg" class="card-img-top"
              alt="Image d'un tiramisu">
            <div class="card-body">
              <h5 class="card-title">Dessert</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
              <a href="dessert.php" class="btn btn-danger">Nos Desserts</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    
  <div class="divcard">
   <!-- <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
    <div>
      <img class="image-test" src="img/pizza/rb_10219.png" height="350px" width="350px"  alt="pizza">
    </div>
    <div>
      <img class="image-test" src="img/antipasti/high-angle-delicious-cheese-tomatoes.jpg" height="350px" width="350px"  alt="entrée tomates mozza">
    </div>
    <div>
      <img class="image-test" src="img/risotto/healthy-vegetarian-risotto-with-fresh-parsley-garnish-generated-by-ai.jpg" height="350px" width="350px"  alt="entrée tomates mozza">
    </div>
    <div>
      <img class="image-test" src="img/dessert/front-view-delicious-tiramisu-concept.jpg" height="350px" width="350px"  alt="dessert tiramisu">
    </div>-->
    </div>
    </div>
     {% include 'partial/_footer.html.twig' %}
</body>
 {% endblock %}
  