{% extends 'base.html.twig' %}

 {% block body %}

 {% include 'partial/_header.html.twig' %}
 <div class="containerhistoirelogo">
    <div class="logohistoire">
    <img src="/img/images_the_district/the_district_brand/logo_transparentnew.PNG" alt="logo the distric">
    </div>
    <div class="histoire">
    <h3>Notre Histoire</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida  ante imperdiet mi laoreet luctus. Quisque lectus risus, mattis sit amet  ex id, vulputate eleifend libero. Sed velit odio, condimentum id eros  vel, suscipit venenatis urna. Proin mollis a ligula ut auctor. Vivamus  vitae ligula metus. Phasellus pharetra tellus pulvinar neque feugiat, et egestas diam posuere. Sed tristique nisi nibh, eu posuere urna lobortis sit amet. Pellentesque dapibus, quam qu tempus quis.</p>

    </div>

 </div>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/antipasti/antipastipays1.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="/img/pizza/3790.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/pasta/2332.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/risotto/22765.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/boisson/2909.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="img/dessert/29211.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="d-flex align-items-center my-4">
  <hr class="flex-grow-1 border-white">
  <h3 class="mx-3 text-white text-center">Nos Plats</h3>
  <hr class="flex-grow-1 border-white">
</div>
      
  <div class="divcard">
    <div class="dish-container row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 justify-content-center">
    <div class="dish-card">
      <img class="image-test" src="img/antipasti/snacks-set-wooden-board.jpg" height="350px" width="350px"  alt="pizza">
      <div class="image-caption">Bruschettas</div>
      </div>
    <div class="dish-card">
      <img class="image-test" src="img/antipasti/snacks-set-wooden-board.jpg" height="350px" width="350px"  alt="pizza">
      <div class="image-caption">Bruschettas</div>
      </div>
    <div class="dish-card">
      <img class="image-test" src="img/antipasti/snacks-set-wooden-board.jpg" height="350px" width="350px"  alt="pizza">
      <div class="image-caption">Bruschettas</div>
      </div>
    <div class="dish-card">
      <img class="image-test" src="img/antipasti/snacks-set-wooden-board.jpg" height="350px" width="350px"  alt="pizza">
      <div class="image-caption">Bruschettas</div>
      </div>
    <div class="dish-card">
      <img class="image-test" src="img/antipasti/snacks-set-wooden-board.jpg" height="350px" width="350px"  alt="pizza">
      <div class="image-caption">Bruschettas</div>
      </div>
    <div class="dish-card">
      <img class="image-test" src="img/antipasti/snacks-set-wooden-board.jpg" height="350px" width="350px"  alt="pizza">
      <div class="image-caption">Bruschettas</div>
      </div>
    </div>
    </div>
     {% include 'partial/_footer.html.twig' %}

 {% endblock %}
  