<footer>
    <div class="contenu-footer">

        <div class="bloc footer-media">
            <h4>Suivez-nous</h4>
            <ul class="liste-media">
                <li><a href="https://facebook.com" target="_blank"><img src="/img/fb.png" alt="icone facebook" class="img-footer">Facebook</a></li>
                <li><a href="https://instagram.com" target="_blank"><img src="/img/insta.png" alt="icone instagram" class="img-footer">Instagram</a></li>
                <li><a href="https://twitter.com" target="_blank"><img src="/img/x.svg" alt="icone x" class="img-footer">Twitter</a></li>
                <li><a href="https://linkedin.com" target="_blank"><img src="/img/linkedin.png" alt="icone linkedin" class="img-footer">Linkedin</a></li>
            </ul>
        </div>

        <div class="bloc footer-plan">
            <h4>plan du site</h4>
            <ul class="liste-plan">
                <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
                <li><a href="{{ path('app_category') }}">Menu</a></li>
                <li><a href="{{ path('app_connexion') }}">Contact</a></li>
            </ul>
        </div>

        <div class="bloc footer-contact">
            <h4>Contact</h4>
            <ul class="liste-contact">
                <li>Email : <a href="mailto:contact@thedistrict.com">contact@thedistrict.com</a></li>
                <li>Téléphone : 01 23 45 67 89</li>
                <li>Adresse : 123 Rue de Rome, Paris</li>
                <li>horaires : 24h/24h</li>
            </ul>
        </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; {{ "now"|date("Y") }} The District. Tous droits réservés.</p>
    </div>
</footer>
